<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
  Iniciar sesión
  sss
</ion-header> -->
<ion-content>
  <ion-row>
    <ion-col size="12" class="ion-text-end contacto"> <a [href]="'mailto:'+contacto">Contactenos</a></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" size-md="6" offset-md="3" size-lg="6" offset-lg="3" size-xl="5" offset-xl="3.5">
      <ion-card>
        <div class="cabecera">
          <div class="icono">
            <img src="assets/img/logo.png" width="284" height="81" alt="logo">
          </div>
          <!--<h3 class="titulo">{{ 'complex.login_titulo' | translate }}</h3> -->


        </div>
            
      </ion-card>
    </ion-col>

  </ion-row>
  
</ion-content>
<app-pie-pagina></app-pie-pagina>